*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: black;
    padding: 10px 10px 10px 10px;
}
marquee{
    margin: 10px 10px 10px 10px;
    color: white;
    font-size: 30px;
}
#body{
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    width: 80%;
    height: 55vh;
    border-radius: 20px;
}
#body .choose{
    display: flex;
    width: max-content;
    margin: 0 auto;
}
#body .choose select{
    border: 2px solid black;
    margin: 0 5px 0 5px;
    border-radius: 20px;
}
.input_output{
    display: flex;
    width: max-content;
    margin: 0 auto;
    width: 50%;
}
.input_output input{
    width: 100%;
    height: 30px;
    border: 3px solid black;
    color: black;
    padding-left: 10px;
    border-radius: 20px;
}
::placeholder{
    color: black;
}
.submit{
    width: max-content;
    margin:  0 auto;
}
#body button{
    width: 100px;
    background: none;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 20px;
    
}